memory-bank/
dev/
.vscode
.roomodes
.roo/
node_modules/
package-lock.json
package.json
!src/
.rooignore
!src/.rooignore
.windsurfrules
.clinerules-default
rooflow_logo_raw.png
!/src/default-mode/.clinerules-default
output.log
claude-code-prompt.txt
windsurfrules.txt
